.monitor {
    object-fit: contain;
    image-rendering: pixelated;
    -webkit-user-drag: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    border: none;
    width: 600px;
    height: 550px;
    top: 250px;
    left: 35%;
    transform: translateX(-54%);
}
